version: '3.8'

services:
  db:
    image: postgres:16
    container_name: nexabudget-db
    environment:
      POSTGRES_USER: your_username
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: nexabudget
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_native:/var/lib/postgresql/data

  nexabudget-be:
    build:
      context: .
      target: native
    container_name: nexabudget-be
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/nexabudget
      SPRING_DATASOURCE_USERNAME: your_username
      SPRING_DATASOURCE_PASSWORD: your_password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_SECRET: tua-chiave-segreta-molto-lunga-e-sicura-di-almeno-64-caratteri
      gocardless.integrator.baseUrl: http://localhost:3000
      GEMINI_API_KEY: your_gemini_api_key
      ASYNC_CORE_POOL_SIZE: 2
      ASYNC_MAX_POOL_SIZE: 3
      ASYNC_QUEUE_CAPACITY: 50

volumes:
  postgres_data_native:
